BOT_TOKEN=8388484760:AAGqkq69GzIPicCpBUMh9rV3nDmGDmXJDy4
DB_PATH=db.sqlite3

# VPN Service variables (3X-UI or direct SSH)
# Example for 3X-UI:
VPN_PANEL_URL=http://your_vps_ip:2053
VPN_PANEL_USERNAME=admin
VPN_PANEL_PASSWORD=admin
# VPN_SSH_HOST=ip
# VPN_SSH_USER=root
# VPN_SSH_PASSWORD=pass
